#inputNameLoginPage {
    padding: 4;
    border-radius: 8;
    height: 30px;    
}

#inputPasswordLoginPage {
    padding: 4;
    border-radius: 8;
    height: 30px;    
}

#form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10;
    margin: 5;
    border: 1;
    height: 300px;
}

#buttonConectLoginPage {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container-mb1 {
    height: 400px;
    max-width: 300px;
    margin: 0 auto;
    padding: 6%;
    background-color: #fff; /* Fundo branco como fallback */
    background-size: cover; /* Para cobrir o elemento com a imagem */
    background-position: center; /* Centraliza a imagem */
    border-radius: 25px;
    
}

